/*
* Warna di bawah ini adalah warna default dari tema barka
* Silakan ubah nilainya jika menginginkan warna lain
* Kode warna dapat diperoleh melalui situs color picker / color palette
*/
:root {
  --primary-color: #e97501;
  --secondary-color: #20ac4a;
  --accent-color: #0e7c35;
  --loader-color:#20639B;
}
